<!DOCTYPE html>
<html>
  <head>
    <title>Kongregate Game Shell</title>
    link(rel="stylesheet" href="/style/kongregate.css")
  </head>

  <body>
    div(id="contentdiv")
    script(src="https://cdn1.kongregate.com/javascripts/kongregate_api.js")
    script(src="/javascripts/kongregate_inititalize.js")
  </body>
</html>
